##Namespace file for DEGseq package
useDynLib(cisPath,.registration = TRUE)
importClassesFrom(methods, call, character)
importFrom(utils, flush.console)
export("cisPath")
export("networkView")
export("easyEditor")
export("getMappingFile")
export("formatPINAPPI")
export("formatSIFfile")
export("formatSTRINGPPI")
export("formatiRefIndex")
export("combinePPI")